<img src = "./img/TheBridge_logo_RGB_color.jpg" width = 500><img src = "./img/python.jpg" width = 500>

# Python Basics I

## Contenidos

* [Listas](#Listas)

## Listas
[al indice](#Contenidos)  
Se trata de otro de los tipos de datos de Python más usados. Dentro de las colecciones, que veremos más adelante, la lista es la colección que normalmente se le da más uso. **Nos permiten almacenar conjuntos de variables u objetos**, y son elementos de lo más versátiles puesto que podemos almacenar objetos de distintos tipos, modificarlos, eliminarlos, meter listas dentro de listas... Sus dos caractrísticas principales son:
* **Mutables**: una vez se ha creado la lista, se puede modificar
* **Ordenada**: Los elementos tienen un cierto orden, lo que nos permite acceder al elemento que queramos teniendo en cuenta tal orden

En cuanto a su sintaxis, cuando declaremos la lista simplemente hay que separar cada elemento con comas, y rodearlo todo con `corchetes`.

In [1]:
# Lista de números enteros (int)
numeros = [1, 3, 5, 6]
print(numeros)
print(type(numeros))

[1, 3, 5, 6]
<class 'list'>

In [2]:
# Lista de strings
strings = ["Esto", "es", "una", "lista"]
print(strings)
print(type(strings))

['Esto', 'es', 'una', 'lista']
<class 'list'>

In [6]:
# Lista de booleanos
booleanos = [True, False, not False, True or False, False and False, 0, 1]
print(booleanos)
print(type(booleanos))

[True, False, True, True, False, 0, 1]
<class 'list'>

In [7]:
# Lista mezclada
mix = ["Ana", 1989, True, -47.8]
print(mix)
print(type(mix))

['Ana', 1989, True, -47.8]
<class 'list'>

In [11]:
# Listas dentro de listas
mix = ["Ana", 1989, True, -47.8]
mix_mix = ["Alberto", 1234, False, +6, [mix], [0 , 1 , "A", "B"]]
print(mix_mix)
print(type(mix_mix))

['Alberto', 1234, False, 6, [['Ana', 1989, True, -47.8]], [0, 1, 'A', 'B']]
<class 'list'>

In [14]:
# Para saber los elementos de una lista, utilizo la funcion len
mix = ["Ana", 1989, True, -47.8]
mix_listas = ["Alberto", 1234, False, +6, [mix], [0 , 1 , "A", "B"]]
print(mix_listas)
print(type(mix_listas))

len(mix_listas) # Las listas dentro de las listas, se consideran un único elemento

['Alberto', 1234, False, 6, [['Ana', 1989, True, -47.8]], [0, 1, 'A', 'B']]
<class 'list'>

6

In [19]:
# Si concateno/uno mis listas
mix = ["Ana", 1989, True, -47.8]
mix_listas = ["Alberto", 1234, False, +6, [mix], [0 , 1 , "A", "B"]]
print(mix_listas)
print(type(mix_listas))
len(mix_listas) # Las listas dentro de las listas, se consideran un único elemento

print("  ")

concatenacion_1 = mix + mix_listas
print(concatenacion_1)
print(type(concatenacion_1))
len(concatenacion_1)

print("  ")

concatenacion_2 = mix_listas + mix #vemos que al ponerlo al revés, el orden cambia
print(concatenacion_2)
print(type(concatenacion_2))
len(concatenacion_2)

['Alberto', 1234, False, 6, [['Ana', 1989, True, -47.8]], [0, 1, 'A', 'B']]
<class 'list'>

['Ana', 1989, True, -47.8, 'Alberto', 1234, False, 6, [['Ana', 1989, True, -47.8]], [0, 1, 'A', 'B']]
<class 'list'>

['Alberto', 1234, False, 6, [['Ana', 1989, True, -47.8]], [0, 1, 'A', 'B'], 'Ana', 1989, True, -47.8]
<class 'list'>

10

**NOTA**: ¿Ves por qué los decimales en Python siempre van con puntos y no con comas? Con las colecciones el intérprete de Python se volvería loco.

Podemos ver tambien el tipo de la lista

In [20]:
type(mix)

list

Calcular la longitud de la misma mediante el método *built-in* ya visto: `len()`

In [21]:
len(mix)

4

Accedemos a los elemenos de la lista mediante corchetes `[]`

**Importante**. El primer elemento es el 0

In [29]:
lista_ejemplo = ["uno", "dos", "tres", "cuatro"]
print(lista_ejemplo)
print(lista_ejemplo[0]) # El primer elemento de la lista es CERO/0, NO EL 1
print(lista_ejemplo[-1])
print(lista_ejemplo[-7]) # No es válido -7 porque la lista no tiene más elementos. Está fuera de rango

['uno', 'dos', 'tres', 'cuatro']
uno
cuatro

IndexError: list index out of range

### Metodos en Listas
Para el tipo de objeto lista, también hay una serie de métodos catacterísticos que nos permiten operar con ellas: añadir valores, quitarlos, indexado, filtrado, etc... En [este enlace](https://www.w3schools.com/python/python_ref_list.asp) puedes encontrar todos los métodos que podrás usar con listas.

In [58]:
asignaturas = ["física", "química", "matemáticas", "biología"]
print(asignaturas)

['física', 'química', 'matemáticas', 'biología']

In [59]:
# Para añadir un elemento nuevo, se usa APPEND y se añade AL FINAL
asignaturas.append("historia")
print(asignaturas)

['física', 'química', 'matemáticas', 'biología', 'historia']

In [60]:
# Para añadir elementos en una posición determinada es con INSERT
asignaturas.insert(1, "filosofía")
print(asignaturas)

['física', 'filosofía', 'química', 'matemáticas', 'biología', 'historia']

In [61]:
# CUIDADO QUE SI LO REPITO MUCHAS VECES O LE DOY AL PLAY, SE ME VA A ESTAR AÑADIENDO CONTINUAMENTE
asignaturas.insert(1, "filosofía")
print(asignaturas)

['física', 'filosofía', 'filosofía', 'química', 'matemáticas', 'biología', 'historia']

In [62]:
# Quitar un elemento de su índice o posición con POP
asignaturas.pop(1)
print(asignaturas)

['física', 'filosofía', 'química', 'matemáticas', 'biología', 'historia']

In [63]:
# Quitar un elemento por su valor con REMOVE
asignaturas.remove("filosofía")
print(asignaturas)

# Si lo repito otra vez, me dará error, porque "filosofía" ya la he quitado y ya no está

['física', 'química', 'matemáticas', 'biología', 'historia']

In [65]:
# Para ordenar alfabéticamente la lista con SORT
asignaturas.sort() # Modifica por tanto la variable
print(asignaturas)

['biología', 'física', 'historia', 'matemáticas', 'química']

In [66]:
# Para eliminar todos los elementos de la lista con CLEAR
asignaturas.clear()
print(asignaturas)

[]